#scheduler {
    margin-left: 270px;
    height: 600px;
}

.presentation-preview > div:first-child {
    font-size: 14px;
}

.dx-tooltip-wrapper .dx-overlay-content .dx-popup-content {
    padding: 14px;
}

.presentation-tooltip .presentation-info {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.presentation-tooltip .presentation-title {
    font-size: 1.5em;
    line-height: 40px;
}

#scroll,
#list {
    position: absolute;
    top: 10px;
    bottom: 0;
    width: 240px;
}

.item {
    display: block;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.dx-draggable-source {
    opacity: 0.5;
}

.dx-draggable-dragging > * {
    box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 6px 8px rgba(0,0,0,0.2);
}

.form-save-button {
    margin-right: 10px;
}