<div style="padding: 20px 30px">
    <dx-scroll-view id="scroll">
        <dx-draggable
        id="list"
        data="dropArea"
        [group]="draggingGroupName"
        (onDragStart)="onListDragStart($event)"
        >
        <dx-draggable
            class="item dx-card dx-theme-text-color dx-theme-background-color"
            [clone]="true"
            [group]="draggingGroupName"
            [data]="p"
            (onDragStart)="onItemDragStart($event)"
            (onDragEnd)="onItemDragEnd($event)"
            *ngFor="let p of presentations"
        >
            {{ p.title }}
            <dx-button icon="edit" type="normal" (click)="editPresentation(p)"></dx-button>
            <dx-button icon="clear" type="danger" (click)="removePresentation(p)"></dx-button>
        </dx-draggable>
        </dx-draggable>
    </dx-scroll-view>
    <dx-scheduler 
        id="scheduler"
        timeZone="America/New_York"
        [dataSource]="appointments"
        textExpr="title"
        allDayExpr="dayLong"
        recurrenceRuleExpr="recurrence"
        [currentDate]="currentDate"
        currentView="day"
        [startDayHour]="6"
        [showAllDayPanel]="false"
        [cellDuration]="5"
        appointmentTooltipTemplate="tooltip-template"
        (onAppointmentFormOpening)="onAppointmentFormOpening($event)">

        <dxi-view type="day" [intervalCount]="3"> </dxi-view>

        <dxo-appointment-dragging
            [group]="draggingGroupName"
            [onRemove]="onAppointmentRemove"
            [onAdd]="onAppointmentAdd">
        </dxo-appointment-dragging>

        <div *dxTemplate="let model of 'tooltip-template'">
            <div class="presentation-tooltip">
                <div class="presentation-info">
                    <div class="presentation-title">
                        {{
                            model.appointmentData.title
                        }}
                    </div>
                    <div>
                        {{
                            "Presenter: " + model.appointmentData.presenter
                        }}
                    </div>
                    <div>
                        {{
                            "Duration: " + model.appointmentData.duration + " minutes"
                        }}
                    </div>
                </div>
            </div>
        </div>
    </dx-scheduler>
    <dx-button icon="plus" text="Add Activity" (click)="addPresentation()"></dx-button>
    <dx-popup
        [dragEnabled]="false"
        [hideOnOutsideClick]="true"
        [(visible)]="addPresentationVisible"
        [width]="600"
        [height]="400"
        title="New Activity">
        <form (submit)="saveNewPresentation($event)">
            <dx-form
                id="newPresentationForm"
                [formData]="newPresentation"
                [labelMode]="'floating'"
                validationGroup="presentationData">
                <dxi-item dataField="title">
                    <dxi-validation-rule type="required" message="Title is required"></dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="presenter"></dxi-item>
                <dxi-item dataField="duration">
                    <dxi-validation-rule type="required" message="Duration is required"></dxi-validation-rule>
                </dxi-item>
                <dxi-item>
                    <div *dxTemplate>
                        <dx-button [elementAttr]="{ class: 'form-save-button' }" text="Save" type="success" [useSubmitBehavior]="true" validationGroup="presentationData"></dx-button>
                        <dx-button text="Cancel" type="normal" (click)="addPresentationVisible = false"></dx-button>
                    </div>
                </dxi-item>
            </dx-form>
        </form>
    </dx-popup>
</div>