#scheduler {
    height: 600px;
}

.presentation-preview > div:first-child {
    font-size: 14px;
}

.dx-tooltip-wrapper .dx-overlay-content .dx-popup-content {
    padding: 14px;
}

.presentation-tooltip .presentation-info {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.presentation-tooltip .presentation-title {
    font-size: 1.5em;
    line-height: 40px;
}