<h2 class="content-block">Scheduler</h2>
<dx-scheduler 
    id="scheduler"
    timeZone="America/New York"
    [dataSource]="appointments"
    textExpr="title"
    allDayExpr="dayLong"
    recurrenceRuleExpr="recurrence"
    [currentDate]="currentDate"
    [views]="['day', 'week']"
    currentView="day"
    [showAllDayPanel]="false"
    [cellDuration]="5"
    appointmentTemplate="appointment-template"
    appointmentTooltipTemplate="tooltip-template"
    (onAppointmentFormOpening)="onAppointmentFormOpening($event)">
    
    <dxi-resource
        fieldExpr="presentationId"
        [dataSource]="presentations"></dxi-resource>

    <div *dxTemplate="let model of 'appointment-template'">
        <div class="dx-scheduler-appointment-title">
            {{ getPresentationById(model.targetedAppointmentData.presentationId).title}}
        </div>
        <div class="dx-scheduler-appointment-content-details">
            <div class="dx-scheduler-appointment-content-date">
                {{
                    (model.targetedAppointmentData.displayStartDate | date: "shortTime") +
                    " - " +
                    (model.targetedAppointmentData.displayEndDate | date: "shortTime")
                }}
            </div>
        </div>
    </div>

    <div *dxTemplate="let model of 'tooltip-template'">
        <div class="presentation-tooltip">
            <div class="presentation-info">
                <div class="presentation-title">
                    {{
                        getPresentationById(model.appointmentData.presentationId).title
                    }}
                </div>
                <div>
                    {{
                        "Presenter: " + getPresentationById(model.appointmentData.presentationId).presenter
                    }}
                </div>
                <div>
                    {{
                        "Duration: " + getPresentationById(model.appointmentData.presentationId).duration + " minutes"
                    }}
                </div>
            </div>
        </div>
    </div>
</dx-scheduler>
{{ appointments | json }}